<div class="row" *ngIf="loading">
    <p class="text-info">User information</p>
    <div class="alert alert-info text-center">Fetching user information, please wait</div>
</div>

<div class="row" *ngIf="!loading">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2 class="text-center">Profile</h2>
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" [src]="userinfo.avatar_url" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{userinfo.login}}</h5>
                  <p class="card-text"> <small>Joined:</small> {{userinfo.created_at | date : 'medium'}}</p>
                </div>
              </div>
              <a routerLink="/" class="btn btn-outline-info btn-sm">Go back</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>{{repos.length}} Public Repositories</h2>
            <ul class="list-group">
                <li class="list-group-item mb-2" *ngFor="let item of repos; index as i;">
                    <div><small><b>Name</b></small>&nbsp; {{item.name}}</div>
                    <div><small><b>Description</b></small> &nbsp; {{item.description}}</div>
                    <div><small><b>Url</b></small> &nbsp; <a target="_blank" [href]="item.html_url">{{item.html_url}}</a></div>
                    <div><small><b>Created on </b></small> &nbsp; {{item.created_at | date : 'medium'}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
